body {
    width: 250px;
    font-family: Arial;
    padding: 10px;
}

input {
    width: 100%;
    margin: 5px 0;
    padding: 6px;
}

button {
    padding: 6px 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.delBtn {
    background: green;
    border: none;
    color: white;
    cursor: pointer;
    padding: 2px 6px;
}
